.fecha-nacimiento{
  margin-top: -50px;
  font-size: 16px;
  color: #adadad;
}

.fecha-nacimiento h1{
  font-size: 15px;
}

.input-fecha input{
  border: none;
  color: #adadad;
  border-bottom: 2px solid #adadad;
  margin: 15px 0;
}

.contenedor-registro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.863);
  width: 500px;
  background: white;
  border-radius: 10px;
}

.form-container-registro{
  padding: 0 40px;
  box-sizing: border-box;
}

form .correo-registro{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 70px 0;
}

.correo-registro input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none
}


.correo-registro label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.correo-registro span::before{
  content:'';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6C3483;
}

.correo-registro input:focus ~ label,
.correo-registro input:focus ~ label{
  top: -5px;
  color: #6C3483;
}

form .nombre{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 70px 0;
}

.nombre input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none
}


.nombre label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.nombre span::before{
  content:'';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6C3483;
}

.nombre input:focus ~ label,
.nombre input:focus ~ label{
  top: -5px;
  color: #6C3483;
}

form .telefono{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 70px 0;
}

.telefono input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none
}


.telefono label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.telefono span::before{
  content:'';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6C3483;
}

.telefono input:focus ~ label,
.telefono input:focus ~ label{
  top: -5px;
  color: #6C3483;
}

#title-registro{
  text-align: center;
  border-bottom: 2px solid rgb(173 141 185);
}

.btn-registro{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #6C3483;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
}

.icono-registro{
  width: 45px;
  height: 45px;
  margin-top: 4.5%;
  position: relative;
}

#title-registro h1{
  margin-top: -38px;
  position: absolute;
  margin-left: 60px;
  font-size: 30px;
}

